*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color:white;
    background-image: url("ciudad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins';
    height: 100vh;
  }
  
  a{
    text-decoration: none;
    color: white;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  li,ul{
    list-style: none;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  .btn{
    background-color: #096e5e;
    color: white;
    cursor: pointer;
    transition: 0.4s all ease;
    border: none;
    border-radius: 10px;
  }
  .btn:hover{
    color: black;
    background-color: #43d3bb;
  }

navbar{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 4em;
}
    .logo{
        display: flex;
        flex-direction:row;
    }
        .logo__img{
            width: 100%;
            height: 100%;
        }
        .logo__name{
            font-size: 2rem;
            margin: auto
        }
    
    .navbar{
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    
        .link{
        margin: 0 0.5em 0 0;
        font-size: 1.5rem;
        }

    .search{
        margin: auto 0;
    }

    main{
        display: flex;
        flex-direction: row;
    }
    .main__information{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 2em 6em;
    }
    .main__information h1{
        font-size: 4.6rem;
        width: 90%;
        text-transform: uppercase;
        margin: 3em 0 0 0;
        line-height: 1.2;
    }
    .main__information p{
        font-size: 1.1rem;
        width: 70%;
        margin: 1em 0 1em 0;
    }
    .btn__information{
      margin: 2em 0 2em 0;
      width: 20%;
      font-size: 1rem;
      padding: 0.5em 1.2em;
      text-transform: uppercase;
    }










    .aboutUs{
      width: 100%;
    }
      .aboutUs__title{
        text-transform: uppercase;
        font-size: 5rem;
      }
      .aboutUs__text{
        width: 85%;
        font-size: 1.2rem;
        background: rgb(0,0,0,30%);
        padding: 1em;
      }
    

    .ourTeam{
      display: flex;
      flex-direction: row;
    }
    .ourTeam h2{
      margin: auto 0;
      font-size: 4rem;
    }
    .ourTeam__names{
      display: flex;
      flex-direction: row;
    }
    .ourTeamPeople{
      display: flex;
      flex-direction: column;
      background: rgb(0,0,0,30%);
    }
    .ourTeam__name{
      font-weight: bold;
      font-size: 1.3rem;
    }
    .common{
      font-weight: 300;
      width: 60%;
    }
    .ourTeam__position{
      background-color: #244ccf;
      border: 1px solid white;
      border-radius: 5px;
      text-align: center;
    }